
<div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="/Content/Media/mainPagePics/103324.jpg" class="img-responsive" alt="First Slide">
        </div>
        <div class="item">
            <img src="/Content/Media/mainPagePics/105366.jpg" class="img-responsive" alt="Second Slide">
        </div>
        <div class="item">
            <img src="/Content/Media/mainPagePics/diablo-iii-warrior-artwork-wide.jpg" class="img-responsive" alt="Third Slide">
        </div>
        <div class="item">
            <img src="/Content/Media/mainPagePics/144312.jpg" class="img-responsive" alt="Fourth Slide">
        </div>
        <div class="item">
            <img src="/Content/Media/mainPagePics/51198.jpg" class="img-responsive" alt="Fifth Slide">
        </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>