<div class="top-list">
    <ul>
        <li>
            <img src="http://lorempixum.com/100/100/nature/1">
            <div class="item-description">
                <h3>Headline</h3>
                <p>Lorem ipsum dolor sit amet...</p>
            </div>
            <div class="item-rating"><b>88</b></div>
        </li>

        <li>
            <img src="http://lorempixum.com/100/100/nature/2">
            <div class="item-description">
                <h3>Headline</h3>
                <p>Lorem ipsum dolor sit amet...</p>
            </div>
            <div class="item-rating"><b>88</b></div>
        </li>

        <li>
            <img src="http://lorempixum.com/100/100/nature/3">
            <div class="item-description">
                <h3>Headline</h3>
                <p>Lorem ipsum dolor sit amet...</p>
            </div>
            <div class="item-rating"><b>88</b></div>
        </li>

        <li>
            <img src="http://lorempixum.com/100/100/nature/4">
            <div class="item-description">
                <h3>Headline</h3>
                <p>Lorem ipsum dolor sit amet...</p>
            </div>
            <div class="item-rating"><b>88</b></div>
        </li>

        <li>
            <img src="http://lorempixum.com/100/100/nature/1">
            <div class="item-description">
                <h3>Headline</h3>
                <p>Lorem ipsum dolor sit amet...</p>
            </div>
            <div class="item-rating"><b>88</b></div>
        </li>
    </ul>
</div>




