@using PagedList.Mvc;
@using PagedList;

@model IPagedList<WebFinalProject.Models.Review>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form method="get" action="@Url.Action("Index")"
    data-otf-ajax="true" data-otf-target="#dynamicContent">

    Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
    <input type="submit" value="Search" />
</form>

<div id="dynamicContent">
    @Html.Partial("ReviewsTemplate", Model)
</div>


