@model IEnumerable<WebFinalProject.Models.Purchase>

@{
    ViewBag.Title = "Shopping Cart";
}

<h2>Shopping Cart</h2>

<section id="Cart">
    @Html.Partial("CartTemplate", Model)
</section>

@Scripts.Render("~/bundles/ShoppingCart")
