@*@using PagedList.Mvc;
    @using PagedList;
    @model IPagedList<WebFinalProject.Models.Review>*@

@{
    ViewBag.Title = "Home Page";
}

<h2>Most popular games from <a href="http://www.giantbomb.com/">GiantBomb.com</a></h2>
<hr>

<section id="games"></section>

@Scripts.Render("~/bundles/WebService")

@*<div class="row">
        <div class="col-md-8">
            <h2>latest review</h2>
            <div id="dynamiccontent">
                @html.partial("latestreviewstemplate", model)
            </div>
        </div>
        <div class="col-md-4">
            @html.partial("_toplist")
        </div>
    </div>*@
