@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-8">
        @Html.Partial("_LatestReview")
    </div>
    <div class="col-md-4">
        @Html.Partial("_TopList")
    </div>
</div>